.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.progress{
  margin:100px 0px 0px 386px;
width: 350px;
height: 10px;
background-color: white;
border: 1px solid rgb(227, 223, 223);
border-radius: 30px;


}
.progress div {
border-radius: 30px;
width: 33.3%;
height: 100%;
background-color: rgb(98, 0, 255);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body {
  background-image: url(https://images.travelandleisureindia.in/wp-content/uploads/2022/01/27130812/hairpin-roads.jpg);
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
input:focus {
  outline: none;
}

.dropdown {
  color: white;
  padding: 0px;
  font-size: 10px;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}
.dropdown1 {
  position: relative;
  display: inline-block;
}
.dp_content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 200px;
  min-height: 400px;
  border-radius: 10px;
}
.dropdown1:hover .dp_content {
  display: block;
}

#input_container {
  position: relative;
  padding: 0;
  margin: 0;
}

#input {
  height: 20px;
  margin: 0;
  padding-left: 30px;
}

#input_img {
  position: absolute;
  bottom: 12px;
  left: 180px;
  width: 10px;
  height: 10px;
}
